async-generator==1.10
atomicwrites==1.3.0
attrs==19.3.0
base58==2.0.0
grpcio==1.27.1
grpcio-tools==1.27.1
more-itertools==8.2.0
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pytest==5.3.5
pytest-asyncio==0.10.0
python3-indy==1.14.2
six==1.14.0
